<% provide(:page_title, 'All post') %>
<% provide(:blog_active,'active') %>
<p id="notice"><%= notice %></p>
<div>
  <%= link_to 'New Blog', new_blog_path, class: 'btn btn-success' %>
</div>
<br>
<div class="row">
  <%= render @blogs %>
</div>


